# env + секреты
.env
.env.*
.secrets/
ump_token.txt
ump_cookies.txt

# Python мусор
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Виртуальные окружения
.venv/
venv/

# Кэши/артефакты карт
out/
.tile_cache/

# IDE/OS
.DS_Store
.idea/
.vscode/

# Docker/логи
*.log