version: '3.8'

services:
  ump-bot:
    build: .
    container_name: ump-telegram-bot
    restart: unless-stopped
    volumes:
      - ./.secrets:/app/.secrets
      - ./out:/app/out
      - ./.tile_cache:/app/.tile_cache
      - ./parks.json:/app/parks.json
      - ./vehicles.txt:/app/vehicles.txt
      - ./.env:/app/.env
    environment:
      - PYTHONUNBUFFERED=1
    # Ограничение ресурсов для слабого сервера
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 256M

