certifi==2025.10.5
charset-normalizer==3.4.4
dotenv==0.9.9
idna==3.11
python-dotenv==1.2.1
requests==2.32.5
urllib3==2.5.0
Pillow==11.0.0
python-telegram-bot==21.0.1
pytest==8.3.4
pytest-cov==6.0.0
pydantic==2.10.3
pydantic-settings==2.10.1
python-docx==1.1.2
docxtpl==0.16.8
